@use "variables" as *;

* {
    margin: 0;
    padding: 0;
}

body {
    font-family:'Inter',sans-serif ;
    background-color: $primary-color;
    color: #fff;
    font-size: 1.25rem;
}

.header {
    margin-top: 2rem;
    color:#32cd32;
    font-family:'Rubik Scribble', system-ui;
    font-weight: bolder;
    font-size: 3.5rem;
    display: flex;
    justify-content: center;

    &__sub {
        font-family:'Rubik Scribble', system-ui;
        font-size: 2rem;

    }
}

.current-joke {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $secondary-color;
    padding: 2rem;
    margin: 2rem;

    &__text {
        overflow-wrap: break-word;
        hyphens: auto;
    }

    &__icon {
        width: 25px;
        height: 25px;
    }

    &__actions {
        display: flex;
        margin-top: 1rem;
    }

    &__new {
        border: #32cd32 solid;
        border-radius: 6px;
        padding: 0.8rem;
        margin: 1rem;
        font-size: 1rem;
        font-weight: bold;
        background-color: #32cd32;
        min-width: 200px;
        cursor: pointer;

        &:hover {
            transform: translateY(-3px); 
            box-shadow: 0 10px 20px rgba( 0 0 0.15);
        }
    }

    &__save{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        border: #32cd32 solid;
        border-radius: 6px;
        padding: 0.8rem;
        margin: 1rem;
        font-size: 1rem;
        color: #32cd32;
        font-weight: bold;
        background-color: transparent;
        min-width: 200px;
        cursor: pointer;

         &:hover {
            transform: translateY(-3px); 
            box-shadow: 0 10px 20px rgba( 0 0 0.15);
            background-color:#32cd32;
            color: black;
            font-weight: bold;
        }

    }
}

.saved-jokes {

    display: flex;
    align-items: center;
    flex-direction: column;

    &__jokes {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 1rem;
        padding: 1rem;
        margin: 1rem;
        background-color: $secondary-color;
    }

    &__icons {
        width: 27px;
        height: 27px;
        background-color: red;
        padding: 0.25rem;
        cursor: pointer;

    }

     &__delete {

        background: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        padding: 0;
        
    }
}